body {
    margin: 0;
    background-color: rgb(212, 230, 238);
}
.construction-text {
    float: right;
    background-color: white;
}
.construction {
    background-color: rgb(196, 196, 196);
    opacity: 0.2;
}
a {
    text-decoration: none;
}
.personal-info-container {
    margin:0;
    width:300px;
    height:100vh;
    border-right: 1px solid lightsteelblue;
    background-color: white;
}
.pfp-container {
    padding: 20px 0 20px 20px;
}
.pfp {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.personal-info-text {
    padding:0 0 20px 20px;
}
.name {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.education {
    float:left;
}
.education-title {
    font-size:18px;
}